<div>
  <ul>
    <!-- Traverse rendering articles -->
    <% page.posts.forEach(function(item) { %>
    <li>
      <h3><%- item.date.format('MMM DD, YYYY') %></h3>
      <h2>
        <a href="<%- url_for(item.path) %>">
          <% if(item.title !== "") { %>
            <% if (item.top) { %>
              <span><span title="<%= __('pinned') %>" class="icon iconfont icon-pin-top post-top"></span><%- item.title %></span>
            <% } else { %>
              <span><%- item.title %></span>
            <% } %>
          <% } else { %>
            <span>untitled</span>
          <% } %>
        </a>
      </h2>
    </li>
    <% }) %>
  </ul>
  <%- partial('_partial/navigation') %>
</div>





