<!DOCTYPE html>
<html lang="<%= config.language %>">

  <%- partial('_partial/header') %>
  <%- partial('_partial/ga4') %>

    <body>

      <!-- Klaro Consent Management -->
      <% if (theme.consent.enable) { %>
          <%- js(['/js/klaro-config.js']) %>
          <%- js(['/js/klaro-no-css.js']) %>
      <% } %>

      <%- partial('_partial/tagmanager_end') %>
      
      <div id="app">
        <%- partial('_partial/name') %>
          <%- partial('_partial/links') %>
            <div class="main">
                <%- body %>
                <%- partial('_partial/footer') %>
            </div>
                <%- partial('_partial/backtotop') %>
                <%- partial('_partial/search') %>

                <%- partial('_partial/consent') %>
                <%- partial('_partial/newsletter') %>
      </div>
    </body>

</html>