<!DOCTYPE html>
<html lang="<%= config.language %>">
  <%- partial('_partial/header') %>
    <body>
      <!-- Klaro Consent Management -->
      <% if (theme.consent.enable) { %>
          <%- js(['/js/klaro-config.js']) %>
          <%- js(['/js/klaro-no-css.js']) %>
      <% } %>

      <%- partial('_partial/tagmanager_end') %>
      <%- partial('_partial/clarity') %>

      <div id="app">
        <%- partial('_partial/name') %>
        <%- partial('_partial/links') %>
        <div class="main">
          <%- body %>
          <%- partial('_partial/footer') %>
        </div> <!-- main -->
          <%- partial('_partial/backtotop') %>
          <%- partial('_partial/search') %>
          <%- partial('_partial/consent') %>
          <%- partial('_partial/newsletter') %>
          <%- partial('_partial/webpushr') %>
      </div> <!-- app -->
    </body>

</html>