<!-- Article details page, showing the specific content of the article, URL format: https://yoursite/article title/-->
<!-- At the same time, it is the hosting page of "tag", "friend", "categories", and "about" page. The specific display depends on page.type -->
 
<%- partial('_partial/latexdisplay') %>
<div class="post">
  <h3 class="date">
    <%- page.date.format('DD MMM, YYYY') %> - <%= page.readTime %> <span class="iconfont">&#xe968;</span>
  </h3> 
  <h1>
    <%- page.title %>
  </h1>
  <div class="content markdown-body">
    <%- page.more %>
  </div>
  <% if(theme.prevnext.enable) { %>
    <% if(page.next) { %>
      <a id="older" class="blog-nav" href="<%- url_for(page.next.path) %>">OLDER&nbsp;&gt;</a>
      <% } %>
        <% if(page.prev) { %>
          <a id="newer" class="blog-nav" href="<%- url_for(page.prev.path) %>">&lt;&nbsp;NEWER</a>
          <% } %>
            <% } %>
</div>